@CHARSET "ISO-8859-1";

html {
	overflow: scroll;
	overflow-x: hidden;
}

html::-webkit-scrollbar {
	width: 0;
	background-color: transparent;
}

#feed {
	width: 40%;
	height: auto;
	margin: 0px auto;
}

.post {
	width: 100%;
	height: auto;
	margin-bottom: 30px;
	border: 1px solid #616161;
	border-radius: 0.8%;
	background-color: white;
	-webkit-box-shadow: 11px 18px 38px 0px rgba(117, 117, 117, 0.75);
	-moz-box-shadow: 11px 18px 38px 0px rgba(117, 117, 117, 0.75);
	box-shadow: 11px 18px 38px 0px rgba(117, 117, 117, 0.75);
}

.user {
	width: 100%;
	height: 70px;
}

.profile {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 10px 20px 0px 20px;
}

.image {
	width: 100%;
	height: 60%;
	margin-bottom: 15px;
	-webkit-box-shadow: -4px 18px 38px -14px rgba(117, 117, 117, 1);
	-moz-box-shadow: -4px 18px 38px -14px rgba(117, 117, 117, 1);
	box-shadow: -4px 18px 38px -14px rgba(117, 117, 117, 1);
}

.info {
	width: 100%;
	padding: 10px;
}

a {
	text-decoration: none;
	color: black;
	transition: all .2s ease-in-out;
}

a:hover {
	color: pink;
	opacity: 0.8;
}

#upload {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 49px;
	display: none;
}

#imgcont {
	width: 40%;
	height: 60%;
	background-color: white;
	border: 1px solid black;
	border-radius: 0.8%;
	margin: 40px auto;
	background-color: #efefef;
	transition: all .2s ease-in-out;
}

#plus {
	width: 15%;
	height: 15%;
	margin-top: 25%;
	margin-left: 40%;
}

#imgcont:hover {
	-webkit-box-shadow: inset 0px 0px 29px -1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: inset 0px 0px 29px -1px rgba(0, 0, 0, 0.75);
	box-shadow: inset 0px 0px 29px -1px rgba(0, 0, 0, 0.75);
	transform: scale(0.99);
}

#getimg {
	text-decoration: none;
	color: green;
}

#done {
	color: black;
	opacity: 0.7;
	background-color:;
	margin-top: 30%;
	margin-left: 40%;
	background: #FC3D7C;
}

#done:hover {
	background: #FC3D7C;
	background: linear-gradient(-25deg, #FC3D7C 0%, #F76A34 80%, #F76A34 100%);
}

.delete {
	background-image: url("https://cdn2.iconfinder.com/data/icons/credocon/512/bin-256.png");
	background-size: contain;
	margin-top: 15px;
	width: 40px;
	height: 40px;
	float: right;
	cursor: pointer;
}