/* main.css */
.usrconf {
	display: all;
	transition: all .2s ease-in-out;
}

.usrconf:hover {
	image: url("https://png.icons8.com/ios/1600/add.png");
	opacity: 0.3;
	cursor: pointer;
}

.hidden {
	display: none;
}

#profile {
	width: 40%;
	height: auto;
	margin: 0px auto;
}

#profileimg {
	width: 150px;
	height: 150px;
	float: left;
	border-radius: 50%;
}

#update {
	width: 150px;
	height: 150px;
	float: left;
	border-radius: 50%;
}

#submit {
	width: 150px;
	height: 150px;
	float: left;
	border-radius: 50%;
}

#profileinfo {
	width: 60%;
	height: 40%;
	margin: 0px auto;
}

#config {
	width: 7%;
	height: 7%;
	float: right;
	opacity: 0.8;
	transition: all .2s ease-in-out;
	cursor: pointer;
}

#config:hover {
	transform: scale(1.3);
	opacity: 1;
}

#save_conf {
	width: 80px;
	height: 80px;
	font-size: 18px;
	border-radius: 30px;
}

.boton {
	color: black;
	opacity: 0.7;
	background: #FC3D7C;
}

.boton:hover {
	background: #FC3D7C;
	background: linear-gradient(-25deg, #FC3D7C 0%, #F76A34 80%, #F76A34 100%);
}

input {
	line-height: 25px;
}