/* main.css */
#upload {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 49px;
	display: none;
}

#imgcont {
	width: 40%;
	height: 60%;
	background-color: white;
	border: 1px solid black;
	border-radius: 0.8%;
	margin: 40px auto;
	background-color: #efefef;
	transition: all .2s ease-in-out;
}

#plus {
	width: 15%;
	height: 15%;
	margin-top: 25%;
	margin-left: 40%;
}

#imgcont:hover {
	-webkit-box-shadow: inset 0px 0px 29px -1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: inset 0px 0px 29px -1px rgba(0, 0, 0, 0.75);
	box-shadow: inset 0px 0px 29px -1px rgba(0, 0, 0, 0.75);
	transform: scale(0.99);
}

#getimg {
	text-decoration: none;
	color: green;
}

#done {
	color: black;
	opacity: 0.7;
	background-color:;
	margin-top: 30%;
	margin-left: 40%;
	background: #FC3D7C;
}

#done:hover {
	background: #FC3D7C;
	background: linear-gradient(-25deg, #FC3D7C 0%, #F76A34 80%, #F76A34 100%);
}

.usrconf {
	display: all;
	transition: all .2s ease-in-out;
}

.usrconf:hover {
	image: url("https://png.icons8.com/ios/1600/add.png");
	opacity: 0.3;
	cursor: pointer;
}

.hidden {
	display: none;
}

#profile {
	width: 40%;
	height: auto;
	margin: 0px auto;
}

#profileimg {
	width: 150px;
	height: 150px;
	float: left;
	border-radius: 50%;
}

#update {
	width: 150px;
	height: 150px;
	float: left;
	border-radius: 50%;
}

#submit {
	width: 150px;
	height: 150px;
	float: left;
	border-radius: 50%;
}

#profileinfo {
	width: 60%;
	height: 40%;
	margin: 0px auto;
}

#config {
	width: 50px;
	height: 50px;
	float: right;
	opacity: 0.8;
	transition: all .2s ease-in-out;
	cursor: pointer;
}

#config:hover {
	transform: scale(1.3);
	opacity: 1;
}

#save_conf {
	width: 80px;
	height: 80px;
	font-size: 18px;
	border-radius: 30px;
}

.boton {
	color: black;
	opacity: 0.7;
	background: #FC3D7C;
}

.boton:hover {
	background: #FC3D7C;
	background: linear-gradient(-25deg, #FC3D7C 0%, #F76A34 80%, #F76A34 100%);
}

input {
	line-height: 25px;
}

#contPost {
	margin: 100px auto;
	width: 50%;
	height: auto;
}

.post {
	width: 150px;
	height: 150px;
	float: left;
	margin-left: 40px;
	margin-bottom: 30px;
}

.image {
	width: 100%;
	height: 100%;
	float: left;
	-webkit-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
	transition: all .2s ease-in-out;
}

.image:hover {
	-webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
}

a {
	text-decoration: none;
	color: black;
	transition: all .2s ease-in-out;
}

a:hover {
	color: pink;
	opacity: 0.8;
}