/* main.css */

#profile{
	width: 40%;
	height: auto;
	margin: 0px auto;
}
#profileimg{
	width: 28%;
	height: 30%;

	float: left;
}
#profileinfo{
	width: 40%;
	height: 40%;

	margin: 0px auto;
}
#config{
	width: 40px;
	height: 40px;
	float: right;
}

#profile_image{
	border-radius: 100px;
}
#save_conf{
	width: 80px;  
	height: 80px;
	font-size: 18px;
	border-radius: 30px;
}
input{
	line-height: 25px;
}